<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/css/ipack.css" />
</head>
<body>
    <div class="container" id="app">
        @RenderBody()
    </div>

    <script src="~/js/ipack.dll.js"></script>
    <script src="~/js/ipack.js"></script>
</body>
</html>
