@page
@model Calvin.Pages.IndexModel
@{
}

<form method="post">
    <div>
        <input asp-for="Form.Username" />
        <span asp-validation-for="Form.Username"></span>
    </div>
    <div>
        <input type="password" asp-for="Form.Password" />
        @Html.ValidationMessageFor(Q => Q.Form.Password)
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<p>
    @Model.Form?.Username
</p>
<p>
    @Model.Form?.Password
</p>

<p>
    @Model.SuccessMessage
</p>

<calvin company="accelist"></calvin>
